<div id="<%= dom_id payment %>">
  <p>
    <strong>Date:</strong>
    <%= payment.date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= payment.status %>
  </p>

  <p>
    <strong>Athlete:</strong>
    <%= payment.athlete_id %>
  </p>

  <p>
    <strong>Match:</strong>
    <%= payment.match_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= payment.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= payment.amount %>
  </p>

</div>
